<%- model_class = Place -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_place_path,
            :class => 'btn btn-primary' %>
</div>

  
    <% @places.each do |place| %>
    <div class="col-xs-4" style="outline: 2px solid-black;">
    <table class="table table-striped">
    <tbody>
      <% if place.name %>
        <tr><td>Name</td><td><%= link_to place.name, place_path(place) %></td></tr>
      <% end %> 
      <% if place.address1 != "" %>
        <tr><td>Address</td><td><%= place.address1 %></td></tr>
      <% end %>  
      <% if place.address2 != "" %>
        <tr><td></td><td><%= place.address2 %></td></tr>
      <% end %>  
      <% if place.address3 != "" %>
        <tr><td></td><td><%= place.address3 %></td></tr>
      <% end %> 
      <% if place.address4 != "" %>
        <tr><td></td><td><%= place.address4 %></td></tr>
      <% end %>
      <% if place.city != "" %>
        <tr><td>City</td><td><%= place.city %></td></tr>
      <% end %> 
      <% if place.state != "" %>
        <tr><td>State</td><td><%= place.state %></td></tr>
      <% end %> 
      <% if place.zip != "" %>
        <tr><td>Zip Code</td><td><%= place.zip %></td></tr>
      <% end %> 
      <% if place.phone1 != "" %>
        <tr><td>Phone</td><td><%= place.phone1 %></td></tr>
      <% end %> 
      <% if place.phone2 != "" %>
        <tr><td>Phone</td><td><%= place.phone2 %></td></tr>
      <% end %> 
      <% if place.phone3 != "" %>
        <tr><td>Phone</td><td><%= place.phone3 %></td></tr>
      <% end %> 
      <% if place.phone4 != "" %>
        <tr><td>Phone</td><td><%= place.phone4 %></td></tr>
      <% end %>  
      <% if place.manager != "" %>
        <tr><td>Manager</td><td><%= place.manager %></td></tr>
      <% end %>
        </tbody>
</table>
</div>
    <% end %>



